p, fieldset {
    padding:0; 
    border:0; 
    margin-top: 0px;
}

input {
    width: 95%; 
    padding: 4px; 
}

label, input {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    display: block;
}

#errorFrm {
    padding: 5px; 
    margin-top: 0px;
}

#send {
    width: 100px;
}

#buttons {
    text-align: center;
}