html {
    background: url('../../imgs/fondo.png');
}

body {
    width: 1024px;
    margin: 0 auto;
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#header {
    float: left;
    width: 1024px;
    height: 300px;
}

#linksHeader {
    width: 48%;
    margin-left: 2%;
    margin-top: 1%;
    float: left;
}


#infoHeader {
    width: 50%;
    float: left;
    text-align: right;
}

#contenido {
    float: left;
    width: 1024px;
    margin-top: 10px;
    height: auto;
}

#loginDiv {
    width: 400px;
    height: auto;
    margin: 0 auto;
}


#footer {
    float: left;
    width: 1024px;
    text-align: center;
    margin-top: 10px;
    height: auto;
}

.uiHeader {
    font-size: 16px;
    padding: 5px;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 12px;
}

p, fieldset {
    padding:0; 
    border:0; 
    margin-top: 0px;
}

input {
    width: 95%; 
    padding: 8px; 
    margin: 0 auto; 
    margin-bottom: 10px; 
    margin-top: 10px;
}

label, input {
    display: block;
}

label {
    font-size: 12px;
}

#send, #cancel {
    width: 100px;
}

#cancel {
    margin-left: 50px;
}

#buttons {
    text-align: center;
}

#note {
    text-align: center;
}

#errorFrm {
    padding: 5px; 
    margin-top: 0px;
}

.textoChico {
    font-size: 11px;
    padding: 5px;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 5px;
    font-weight: normal;
}